# Series é o objeto básico do Pandas

In [1]:
# Importar o Numpy e o Pandas
import numpy as np
import pandas as pd

#### Criar uma lista chamada Labels com letras

In [3]:
labels = ['a', 'b', 'c']

#### Definir outra lista com números
#### Definir uma lista com array
#### Definir um dicionário

In [6]:
minha_lista = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':30}

#### Agora vou transformar qualquer elemento desses em uma Series

In [8]:
# Dentro dele vou estar passando (data e o index)
pd.Series(data=minha_lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
# Acima no código, estou associando a minha lista com o labels

#### Agora vou definir uma variável e tentar acessar um índice do dicionário

In [10]:
series = pd.Series(data=minha_lista, index=labels)

In [11]:
series['b']

20

#### Posso também colocar eles em ordem, do jeito mais fácil.

In [13]:
pd.Series(minha_lista, labels)

a    10
b    20
c    30
dtype: int64

#### Invertendo as ordens

In [14]:
pd.Series(labels, minha_lista)

10    a
20    b
30    c
dtype: object

#### Forma padrão

In [15]:
pd.Series(minha_lista, labels)

a    10
b    20
c    30
dtype: int64

#### Posso estar fazendo também em Numpy arrais, ou seja, eu teria o mesmo resultado

In [18]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

#### Outro Exemplo

In [19]:
ser1 = pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'URSS', 'Japão'])

In [20]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

#### Trocando 'URSS' por 'Itália'

In [22]:
ser2 = pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'Itália', 'Japão'])

In [23]:
ser2

EUA         1
Alemanha    2
Itália      3
Japão       4
dtype: int64

In [25]:
# Realizando Operações Aritméticas entre Series.
# Ou seja, vamos estar somando os elementos com base nos ÍNDICES
ser1 + ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64